<!DOCTYPE HTML>
<html>
<head>
	<title>Police Dashboard</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script>

	function onLoad() {

		//fill in dropdown
		var orgs = ['PF', 'TB', 'MP', 'SF', 'MJ', 'TM', 'PR', 'PS', 'PP', 'PQ', 'PV', 'PT', 'PU', 'TE', 'PB', 'PC', 'TL', 'PA',
		'TJ', 'PG', 'PD', 'TI', 'PJ', 'PK', 'PH', 'PI', 'PN', 'PO', 'PL', 'PM', 'TH', 'PE', 'SJ', 'TF', 'MN', 'TD', 'ME',
		'MD', 'MG', 'MF', 'MA', 'MC', 'MB', 'MM', 'ML', 'MO', 'TK', 'MI', 'MH', 'MK', 'TC', 'SK', 'TG', 'SI', 'SH', 'SN',
		'SM', 'SL', 'SC', 'SB', 'SA', 'TA', 'SG', 'TN', 'SE', 'SD']

		for (var i = 0; i < orgs.length; i++) {
			var item = document.createElement("input");
			item.type = "button";
			item.value = orgs[i];
			item.className = "filterBros";
			item.onclick = function () {
				console.log(this.value);
				window.location.href = `http://127.0.0.1:5000/${this.value}`
			}
			//item.href = `/${orgs[i]}`;
			appendHere.appendChild(item);
		}


	}

	var data_arr = {{data|tojson|safe}};
    for(var i = 0; i < data_arr.length; i++) {
        data_arr[i][2] = new Date(parseInt(data_arr[i][2]) * 1000)
        data_arr[i][3] = new Date(parseInt(data_arr[i][3]) * 1000)
    }


	google.charts.load('current', {'packages':['timeline']});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var container = document.getElementById('timeline');
		var chart = new google.visualization.Timeline(container);
		var dataTable = new google.visualization.DataTable();

		dataTable.addColumn({ type: 'string', id: 'unit' });
		dataTable.addColumn({ type: 'string', id: 'description' });
		dataTable.addColumn({ type: 'datetime', id: 'Start' });
		dataTable.addColumn({ type: 'datetime', id: 'End' });

		dataTable.addRows(data_arr);

		var options = {
			 hAxis: { format: 'M/d HH:MM' },
			colors: ['#987284', '#75B9BE', '#D0D6B5', '#EE7674'],
			width: 30000
		};

		chart.draw(dataTable, options);
	}

	/*     scripts for dropdown       */
	function dropDownFunc() {
    	document.getElementById("myDropdown").classList.toggle("show");
		}

	function filterFunction() {
	   var input, filter, ul, li, a, i;
	   input = document.getElementById("myInput");
	   filter = input.value.toUpperCase();
	   div = document.getElementById("myDropdown");
     a = div.getElementsByClassName("filterBros");
	   for (i = 0; i < a.length; i++) {
	   		if (a[i].value.toUpperCase().indexOf(filter) > -1) {
					a[i].style.display = "";
	      }
				else {
	        a[i].style.display = "none";
	      }
	   }
	}

	</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body onload="onLoad();">
	<h1><span data-shadow-text="Text-Shadow">Police Dispatch Data</span></h1>
	<div id="wrapBro">
		<input target="_blank" type="button" id="viewAnalytics" value="View Analytics" onclick="window.open('./../static/data/PoliceDataAnalysisPDF.pdf')"></input>
	</div>
	<!-- <label id="titleBoi">Police Dispatch Data</label> -->
		<div class="dropdown">
			<button onclick="dropDownFunc()" class="dropbtn">Select Organization Unit</button>
			<div id="myDropdown" class="dropdown-content">
				<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
				<div id = "appendHere"></div>
			</div>
		</div>

	<div id="timelineWrapper">
		<div id="timeline"></div>
	</div>
	<div id= "notTimeline">


	</div>
 {% block body %}{% endblock %}


</body>
</html>
