<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
<style>

body{
    text-align: center;
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}

</style>

</head>
<body onload="onLoad();" onresize="onResize();">

  <div id="my-timeline" style="height: 150px; border: 1px solid #aaa"></div>
  <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
  </noscript>
 {% block body %}{% endblock %}

</body>
</html>
<script>

function onLoad() {
  var eventSource = new Timeline.DefaultEventSource();
  var bandInfos = [
    Timeline.createBandInfo({
        eventSource:    eventSource,
        date:           "Jun 28 2006 00:00:00 GMT",
        width:          "70%",
        intervalUnit:   Timeline.DateTime.MONTH,
        intervalPixels: 100
    }),
    Timeline.createBandInfo({
        eventSource:    eventSource,
        date:           "Jun 28 2006 00:00:00 GMT",
        width:          "30%",
        intervalUnit:   Timeline.DateTime.YEAR,
        intervalPixels: 200
    })
  ];
  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;

  tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
	//Timeline.loadJSON("../static/data/example3.json", function(url, json) { eventSource.loadJSON(url, json); });
	//Timeline.loadJSON("../static/data/example3.json", function(data, url){ eventSource.loadJSON(data, url); });
	let jsonplz = {
	  "entries": [
	      {
	            "title": "UnicodeBranch",
	            "description": "Unicode branch of Django",
	            "start": "April 07 2007 00:15:27 GMT",
	            "end": "July 04 2007 04:28:29 GMT",
	            "isDuration": false,
	            "classname": "w00t"
	      }
	  ]
	}
	Timeline.loadJSON(jsonplz, function(url, json) { eventSource.loadJSON(url, json); });

	//Timeline.loadXML("../static/data/example1.xml", function(xml, url) { eventSource.loadXML(xml, url); });

}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}
</script>
